*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    font-size: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}
h1{
    font-size: 52px;
    margin-bottom: 12px;
    color: white;
    font-weight: 600;
}
p{
    font-size: 18px;
    margin-bottom: 24px;
    color: grey;
    line-height: 1.8;
    padding: 0 10px;
}